{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "displayName": true }
        ],
        "react-hot-loader/babel"]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "minify": true,
            "transpileTemplateLiterals": true,
            "pure": true
          }
        ]
      ]
    }
  }
}